<footer class="site-footer">

  <div class="wrapper">
    <p>
      <ul class="social-media-list">
        {% if site.email %}
        <li>
          {% include icons/icon-email.html username=site.email %}
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          {% include icons/icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
        
        {% if site.googlescholar_username %}
        <li>
          {% include icons/icon-googlescholar.html username=site.googlescholar_username %}
        </li>
        {% endif %}
        
        {% if site.linkedin_username %}
        <li>
          {% include icons/icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}
        
        {% if site.github_username %}
        <li>
          {% include icons/icon-github.html username=site.github_username %}
        </li>
        {% endif %}

      </ul>
    </p>

    <!--% include email-obfuscated.html %}-->

    <p class="copyright">
      © {{ site.time | date: '%Y' }} {{ site.real_name }}
    </p>
  </div>

</footer>
