<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <!-- Add RefTagger for bible verse tagging -->
    <script>
      var refTagger = {
        settings: {
          bibleVersion: "ESV",      
          socialSharing: [],
          tagChapters: true
        }
      };
      (function(d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = "//api.reftagger.com/v2/RefTagger.js";
        s.parentNode.insertBefore(g, s);
      }(document, "script"));
    </script>
  </body>

</html>
