---
layout: default
---

<div class="posts">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% include drop-date.html the_date=post.date %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{% if post.published == false %}<span style="font-size:90%">📄</span>{% endif %} {{ post.title | escape }}</a>
        </h2>
        <div class="post-excerpt" />
          {{ post.excerpt }}
        </div>
        <hr class="post-seperator"/>
      </li>
    {% endfor %}
  </ul>

</div>
