/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Home page
 */

.email-obfuscated {
  text-align: center;
  margin-top: 1rem;
}

.profile {

  $profile-image-width: 220px;
  
  .col-wrapper {
    @extend %clearfix;
  }

  .col1 {
    float:left;
    width: 250px;
  }

  .col2 {
    float: left;
    width: -webkit-calc(100% - #{$spacing-unit} - #{$profile-image-width});
    width:         calc(100% - #{$spacing-unit} - #{$profile-image-width});
    margin-left: #{$spacing-unit};
  }

  .profile-image {
    width: #{$profile-image-width};
    height: #{$profile-image-width};
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .profile-description {
    h1 {
      font-size: 2.5rem;
      margin-bottom: -0.5rem;
      text-align: center;
      line-height: 2.5rem;
    }
  }

  @include media-query($on-palm) {
      .col1, .col2 {
        float: none;
        width: 100%;
        margin: 0px;
        margin-top: #{$spacing-unit};
      }
      .profile-image {
        width: 100%;
        background-size: $profile-image-width;
        background-position: center center;
      }
  }

}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0.1rem;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


/**
 * Post formatting
 */
.post-date {
  position: absolute;
  margin-left: -60px;

  text-transform: uppercase;
  text-align: center;
  color: $grey-color;
  font-family: Open Sans, Arial, sans-serif;

  .post-date-day {
    font-size: 1.5rem;
    margin-bottom: -0.4rem;
  }

  .post-date-month {
    font-size: 0.8rem;
    margin-bottom: -0.1rem;
  }

  .post-date-year {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 950px) {
  .post-date {
    float: right;
    position: relative;
    margin-left: 0px;
  }
}

.post-list {
  li {
    .post-seperator {
      margin-top: 30px;
    }
  }

  li:last-child {
    .post-seperator {
      display: none;
    }
  }
}


/**
 * Comic-specific post formatting
 */
@font-face{ 
  font-family: 'KomikaTitle';
  src: url('/assets/fonts/komtit-webfont.ttf');
  src: url('/assets/fonts/komtit-webfont.woff') format('woff');
  src: url('/assets/fonts/komtit-webfont.woff2') format('woff2');
}

.comic-header {
  text-align: center;
  font-family: 'KomikaTitle', Arial, sans-serif;

  h1 {
    margin-bottom: -0.5rem;
  }

  .comic-meta {
    color: $grey-color;
  }
}

.comic-image {
  background-size: 100%;
  width: 150%;
  margin-top: -1rem;
  margin-bottom: -1rem;
  margin-left: -25%;

  img {
    visibility: hidden;
    width: 100%;
  }
}


@media only screen and (max-width: 1150px) {
  .comic-image {
    width: 100%;
    margin-left: 0%;
  }
}


.comic-content {
  p:last-child:after {
    content: "\25A0";
    font-size: 1.5rem;
    margin-left: 0.1rem;
    line-height: 1rem;
  }
}

/**
 * Site footer
 */
.site-footer {
  background-color: $footer-background-color;
  color: $footer-color;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $footer-color;
  }
}

.social-media-list {
  text-align: center;

  .icon {
    padding: 15px;
  }

  /**
   * Twitter icon gets slightly less padding
   */
  .icon--twitter {
    padding-right: 8px;
  }

  li {
    display: inline-block;
    *display: inline;

    svg {
      transform: scale(2);
    }
  }
}

.copyright {
  text-align: center;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


